# Python Basics

1. What are data structures, and why are they important?
Data structures are organized formats to store, manage, and organize data in a way that enables efficient access and modification. They are crucial for optimizing performance, enhancing computational efficiency, and facilitating problem-solving in software development. Examples include arrays, linked lists, stacks, queues, trees, and graphs.

In [ ]:
'''2. Explain the difference between mutable and immutable data types with examples.
Mutable: Can be changed after creation (e.g., lists, dictionaries).

Immutable: Cannot be changed after creation (e.g., tuples, strings)'''

#example of mutable
lst = [1, 2, 3]
lst[0] = 10
print(lst)
#exampke of immutable
string = "hello"
string[0] = "H"
print(string)

[10, 2, 3]

3.What are the main differences between lists and tuples in Python?
Ams. Lists are mutable while Tuples are immutable.The more differences between the lists and tuples are below-
Lists:  1. Lists are mutable
2. The implication of iterations is Time-consuming
3. The list is better for performing operations, such as insertion and deletion.
4.Lists consume more memory
Tuples: 1. Tuples are immutable
2.The implication of iterations is comparatively Faster
3.A Tuple data type is appropriate for accessing the elements
4. Tuple consumes less memory as compared to the list

4. Describe how dictionaries store data.
Ans. Dictionaries store data in key-value pairs using a hashing mechanism, allowing for quick access to values based on their keys.

4.How dictionaries store data:
Ans. Dictionaries store data in key-value pairs using a hashing mechanism, allowing for quick access to values based on their keys.

5.Why might you use a set instead of a list in Python?
Ans. Sets automatically remove duplicates and allow fast membership testing (O(1) complexity).



6. What is a string in Python, and how is it different from a list?
Ans. A string is a sequence of characters, immutable, and used for textual data. A list is mutable, can contain mixed data types, and is used for various data manipulations.



7.How tuples ensure data integrity in Python:
Ans. Tuples are immutable, preventing accidental changes, which ensures the data remains constant.



8.What is a hash table, and how does it relate to dictionaries in Python?
Ans. A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented as hash tables.



9.Can lists contain different data types in Python?
Ans.Yes, lists in Python can store elements of multiple data types.



10.Why are strings immutable in Python?
Ans.Strings are immutable to optimize memory usage and performance and ensure thread safety.



11.Advantages of dictionaries over lists:
Ans. 1)Fast lookups (O(1) complexity).
2) Keys allow better contextual representation of data.



12.Scenario where tuples are preferable over lists:
Ans. Tuples are used where data is constant or serves as a hashable key in dictionaries. Example: Storing geographic coordinates (latitude, longitude).



13.How sets handle duplicate values in Python:
Ans. Automatically removes duplicates.
Excample: my_set = {1, 2, 2, 3}
print(my_set)



14.How "in" works for lists vs. dictionaries:
Ans. Lists: Checks if the value exists.
Dictionaries: Checks if the key exists.
Example: my_list = [1, 2, 3]
my_dict = {'a': 1, 'b': 2}
print(2 in my_list)
print('b' in my_dict)

15.Can you modify the elements of a tuple? Explain why or why not?
Ans. No, tuples are immutable. If modification is required, convert to a list.
Example:tup = (1, 2, 3)
lst = list(tup)
lst[0] = 10
tup = tuple(lst)

16. What is a nested dictionary, and give an example of its use case?
Ans. A nested dictionary is a dictionary within a dictionary. Example-
students = {
    "John": {"age": 20, "grade": "A"},
    "Jane": {"age": 22, "grade": "B"}
}
print(students["John"]["age"])

17. Describe the time complexity of accessing elements in a dictionary.
Ans. O(1) average-case complexity due to hash functions.

18. In what situations are lists preferred over dictionaries?
Ans. 1)When order matters.
2)When duplicates are necessary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans. They rely on hashing for quick lookups, not order.
Retrieval is based on key hashes.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
Ans. Lists: Sequential using indices.
Dictionaries: Direct using keys.

In [31]:
#1. Write a code to create a string with your name and print it.

name = "Aaditya Mittal"
print(name)

Aaditya Mittal

In [32]:
#2. Write a code to find the length of the string "Hello World".

string = "Hello World"
print(len(string))

11

In [33]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
sliced = string[:3]
print(sliced)

Pyt

In [34]:
# 4. Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase = string.upper()
print(uppercase)

HELLO

In [35]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
modified = string.replace("apple", "orange")
print(modified)

I like orange

In [36]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [37]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [38]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [39]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
items = ['a', 'b', 'c', 'd']
print(items[1])

b

In [40]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [41]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [42]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [43]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
numbers = (1, 2, 3, 2, 4, 2)
count = numbers.count(2)
print(count)

3

In [44]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

In [45]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana'):
fruits = ('apple', 'orange', 'banana')
is_present = "banana" in fruits
print(is_present)

True

In [46]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [47]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [48]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [49]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [50]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2):
numbers = (1, 2, 3, 2, 4, 2)
count = numbers.count(2)
print(count)

3

In [51]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

In [52]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

fruits = ('apple', 'orange', 'banana')
is_present = 'banana' in fruits
print(is_present)

True

In [53]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [54]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}